# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2DDemo.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Al\Documents\GitHub\2d-template-SupahHackah\2DDemo\.idea\.idea.2DDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
